# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular Data Science languages 
- List of popular Libraries used in Data Science 
- Important tools used in Data Science

Some of the ***popular languages*** that are commonly used by Data Scientists are:

1.Python

2.R

3.SQL

4.Java

And similarly, some of the commonly used ***libraries*** used frequently by Data Scientists are: 

1.Matplotlib

2.pandas

3.Numpy

4.TensorFlow

The most important ***Data Science Tools*** to take note of are:
|Data Science Tools|
---------------------
|  Apache Spark.   |
|    TensorFlow    |
|  Apache Hadoop   |

###  Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# 'tis merely an arithmatic expression to first mutiply then to add integers.

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335

## Author:
Abdullah Mohammed :)